<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>System Settings</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>
<body>

<section class="content">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title" v-text="$t('message.systemSettings.box.title')"></h3>
                </div>
                <div class="box-body">
                    <table id="setting-table" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th v-text="$t('message.systemSettings.table.name')"></th>
                            <th v-text="$t('message.systemSettings.table.type')"></th>
                            <th v-text="$t('message.systemSettings.table.value')"></th>
                            <th v-text="$t('message.table.function')"></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--add tag-->
            <div class="modal" id="addSetting" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" v-text="$t('message.systemSettings.box.createTitle')"></h4>
            </div>
            <div class="modal-body">
                <form id="setting-create-form" class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            <span v-text="$t('message.systemSettings.form.name')"></span>
                            <span class="color-error">*</span></label>
                        <div class="col-sm-9">
                            <input name="keyName" class="form-control" type="text"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            <span v-text="$t('message.systemSettings.form.type')"></span>
                            <span class="color-error">*</span></label>
                        <div class="col-sm-9">
                            <input name="type" class="form-control" type="text"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            <span v-text="$t('message.systemSettings.form.value')"></span>
                            <span class="color-error">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" name="value" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" v-text="$t('message.systemSettings.form.description')">

                        </label>
                        <div class="col-sm-9">
                            <textarea name="description" class="form-control"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-app-danger pull-left" data-dismiss="modal" v-text="$t('message.button.cancel')"></button>
                <button id="setting-create-save" type="button" class="btn btn-app-primary" v-text="$t('message.button.submit')"></button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

            <!--update tag-->
            <div class="modal" id="editSetting" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" v-text="$t('message.systemSettings.box.editTitle')"></h4>
                        </div>
                        <div class="modal-body">
                            <form id="setting-edit-form" class="form-horizontal">
                                <input v-model="settingInfo.id" name="id" type="hidden"/>
                                <div class="form-group">
                                    <label class="control-label col-sm-3">
                                        <span v-text="$t('message.systemSettings.form.name')"></span>
                                        <span class="color-error">*</span></label>
                                    <div class="col-sm-9">
                                        <input v-model="settingInfo.keyName" name="keyName" class="form-control" type="text"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3">
                                        <span v-text="$t('message.systemSettings.form.type')"></span>
                                        <span class="color-error">*</span></label>
                                    <div class="col-sm-9">
                                        <input v-model="settingInfo.type" name="type" class="form-control" type="text"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3">
                                        <span v-text="$t('message.systemSettings.form.value')"></span>
                                        <span class="color-error">*</span></label>
                                    <div class="col-sm-9">
                                        <input v-model="settingInfo.value" name="value" class="form-control" type="text"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3" v-text="$t('message.systemSettings.form.description')"></label>
                                    <div class="col-sm-9">
                                        <textarea v-model="settingInfo.description" name="description" class="form-control"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-app-danger pull-left" data-dismiss="modal" v-text="$t('message.button.cancel')"></button>
                            <button id="setting-edit-save" type="button" class="btn btn-app-primary" v-text="$t('message.button.submit')"></button>
                        </div>
                    </div>
                </div>
            </div>
            <!--upload-->
            <div class="modal" id="uploadSetting" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" v-text="$t('message.systemSettings.box.upload')"></h4>
                        </div>
                        <div class="modal-body">
                                 <div class="col-sm-12 padding-r-l-0">
                                    <label class="label-title font-second-color">
                                        <span v-text="$t('message.systemSettings.form.uploadPdf')"></span>
                                        <span class="color-error">*</span></label>
                                    <div  class="col-sm-12 valid-frame" id="image-div">
                                        <input id="jobPdfFile" name="pdfFile[]" type="file" multiple class="file-loading"/>
                                    </div>
                                </div>
<!--                             <form id="setting-upload-form" class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                                <input v-model="settingInfo.id" name="id" type="hidden"/>
                               <div class="col-sm-12 padding-r-l-0">
                                    <label class="label-title font-second-color">upload Pdf<span class="color-error">*</span></label>
                                    <div  class="col-sm-12 valid-frame" id="image-div">
                                        <input id="pdfFile" name="pdfFile[]" type="file" multiple class="file-loading"/>
                                    </div>
                                </div>
                            </form> -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-app-danger pull-left" data-dismiss="modal" v-text="$t('message.button.cancel')"></button>
                            <button id="setting-upload-save" type="button" class="btn btn-app-primary" v-text="$t('message.button.submit')"></button>
                        </div>
                    </div>
                </div>
            </div>



            <div class="modal" id="deleteSetting" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" v-text="$t('message.systemSettings.box.deleteTitle')"></h4>
                        </div>
                        <div class="modal-body" v-text="$t('message.deleteInfo')">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-app-danger pull-left" data-dismiss="modal" v-text="$t('message.button.no')"></button>
                            <button id="setting-delete-save" type="button" class="btn btn-app-primary" v-text="$t('message.button.yes')"></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <script src="../js/manifest.bundle.js"></script>
    <script src="../js/vendor.bundle.js"></script>
    <script src="../js/systemSetting.bundle.js"></script>

</body>
</html>
