<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vehicle Create</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>
<body>
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title" v-text="$t('message.vehicleCreate.box.title')"></h3>
        </div>
        <div class="box-body">
            <form id="vehicle-create-form" class="form-horizontal">
                <input type="hidden" name="id" v-model="vehicleInfo.id"/>
                <input type="hidden" name="companyId" v-model="vehicleInfo.companyId"/>
                <fieldset>
                        <div class="col-sm-4 padding-left-0">
                            <label class="control-label label-left-width-100">
                                <span v-text="$t('message.vehicleCreate.form.vehicleNo')"></span>
                                <span class="color-error">*</span></label>
                            <div class="valid-frame div-left-width-100">
                                <input v-model="vehicleInfo.no" class="form-control" type="text" name="no" />
                            </div>
                        </div>
                        <div class="col-sm-4 padding-left-0">
                            <label class="control-label label-left-width-100">
                                <span v-text="$t('message.vehicleCreate.form.vehicleType')"></span>
                                <span class="color-error">*</span></label>
                            <div class="valid-frame div-left-width-100">
                                <select v-model="vehicleInfo.typeId" id="rule-create-vehicleType" name="typeId" class="form-control">
                                    <option value="" v-text="$t('message.vehicleCreate.form.selectVehicleType')"></option>
                                    <option v-for="type in types" v-bind:value="type.id" v-text="type.type"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4 padding-left-0">
                            <label class="control-label label-left-width-100">
                                <span v-text="$t('message.vehicleCreate.form.defaultDriver')"></span>
                                <span class="color-error">*</span></label>
                            <div class="valid-frame div-left-width-100">
                                <select v-model="vehicleInfo.driverId" id="rule-create-driver" name="driverId" class="form-control">
                                    <option value="" v-text="$t('message.vehicleCreate.form.selectDriver')"></option>
                                    <option v-for="driver in drivers" v-bind:value="driver.id" v-text="displayDriverName(driver)"></option>
                                </select>
                            </div>
                        </div>
                </fieldset>
                <fieldset>
                        <div class="col-sm-4 padding-left-0">
                            <label class="control-label label-left-width-100">
                                <span v-text="$t('message.vehicleCreate.form.distancePrice')"></span>
                                <span class="color-error">*</span></label>
                            <div class="valid-frame div-left-width-100">
                                <input v-model="vehicleInfo.distancePrice" class="form-control" type="text" name="distancePrice" />
                            </div>
                        </div>
                        <div class="col-sm-4 padding-left-0">
                            <label class="control-label label-left-width-100">
                                <span v-text="$t('message.vehicleCreate.form.basePrice')"></span>
                                <span class="color-error">*</span></label>
                            <div class="valid-frame div-left-width-100">
                                <input v-model="vehicleInfo.basePrice" class="form-control" type="text" name="basePrice" />
                            </div>
                        </div>
                </fieldset>
                <fieldset>
                    <div class="col-sm-12">
                        <div class="col-sm-4 padding-left-0">
                            <button class="btn btn-app-primary" type="button" onclick="vehicle.create()">
                                <i class="fa fa-plus"></i>
                                <span v-text="$t('message.vehicleCreate.button.vehicleAvailability')"></span>
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
                <div class="form-group">
                    <table id="availability-table" class="table table-bordered">
                        <thead>
                            <tr>
                                <th v-text="$t('message.vehicleCreate.table.dayOfWeek')"></th>
                                <th v-text="$t('message.vehicleCreate.table.fromTime')"></th>
                                <th v-text="$t('message.vehicleCreate.table.toTime')"></th>
                                <th v-text="$t('message.vehicleCreate.table.zoneFlag')"></th>
                                <th v-text="$t('message.vehicleCreate.table.zones')"></th>
                                <th v-text="$t('message.table.function')"></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button class="btn btn-app-danger" onclick="window.history.go(-1)" v-text="$t('message.button.cancel')"></button>
                        <button id="vehicle-create-save" class="btn btn-app-primary" disabled="disabled" v-text="$t('message.button.submit')"></button>
                    </div>
                </div>
        </div>
    </div>
     <!--add price-->
    <div class="modal" id="addAv" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" v-text="$t('message.vehicleCreate.box.createTitle')"></h4>
                </div>
                <div class="modal-body">
                    <form id="av-create-form" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <label class="control-label">
                                        <span v-text="$t('message.vehicleCreate.form.dayOfWeek')"></span>
                                        <span class="color-error">*</span></label>
                                    <div class="valid-frame">
                                        <table class="table table-bordered text-center margin-bottom-none">
                                            <tbody>
                                            <tr>
                                                <th v-text="$t('message.vehicleCreate.form.mon')"></th>
                                                <th v-text="$t('message.vehicleCreate.form.tue')"></th>
                                                <th v-text="$t('message.vehicleCreate.form.wed')"></th>
                                                <th v-text="$t('message.vehicleCreate.form.thur')"></th>
                                                <th v-text="$t('message.vehicleCreate.form.fri')"></th>
                                                <th v-text="$t('message.vehicleCreate.form.sat')"></th>
                                                <th v-text="$t('message.vehicleCreate.form.sun')"></th>
                                                <!--<th v-text="$t('message.vehicleCreate.form.publicHoliday')"></th>-->
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="radio" class="minimal" name="dayOfWeek" value="Monday"/>
                                                </td>
                                                <td>
                                                    <input type="radio" class="minimal" name="dayOfWeek" value="Tuesday"/>
                                                </td>
                                                <td>
                                                    <input type="radio" class="minimal" name="dayOfWeek" value="Wednesday"/>
                                                </td>
                                                <td>
                                                    <input type="radio" class="minimal" name="dayOfWeek" value="Thursday"/>
                                                </td>
                                                <td>
                                                    <input type="radio" class="minimal" name="dayOfWeek" value="Friday"/>
                                                </td>
                                                <td>
                                                    <input type="radio" class="minimal" name="dayOfWeek" value="Saturday"/>
                                                </td>
                                                <td>
                                                    <input type="radio" class="minimal" name="dayOfWeek" value="Sunday"/>
                                                </td>
                                                <!--<td>-->
                                                    <!--<input type="radio" class="minimal" name="dayOfWeek" value="PublicHoliday"/>-->
                                                <!--</td>-->
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="col-sm-6 bootstrap-timepicker">
                                    <label class="control-label">
                                        <span v-text="$t('message.vehicleCreate.form.fromTime')"></span>
                                        <span class="color-error">*</span></label>
                                    <div class="valid-frame">
                                        <!--<input name="fromTime" type="text" class="form_time form-control">-->
                                        <select id="create-fromTime" name="fromTime" class="form-control time-window"></select>
                                    </div>
                                </div>
                                <div class="col-sm-6 bootstrap-timepicker">
                                    <label class="control-label">
                                        <span v-text="$t('message.vehicleCreate.form.toTime')"></span>
                                        <span class="color-error">*</span></label>
                                    <div class="valid-frame">
                                        <!--<input name="toTime" type="text" class="form_time form-control">-->
                                        <select id="create-toTime" name="toTime" class="form-control time-window"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label margin-left-30">
                                <span v-text="$t('message.vehicleCreate.form.zones')"></span>
                            </label>
                            <div class="col-sm-12">
                                <div class="col-sm-6 valid-frame">
                                    <select name="zoneFlag" class="form-control">
                                        <option value="exclude" v-text="$t('message.vehicleCreate.form.exclude')"></option>
                                        <option value="allowed" v-text="$t('message.vehicleCreate.form.allowed')"></option>
                                    </select>
                                </div>
                                <div class="col-sm-6 valid-frame option-white-space">
                                    <select name="zonesTemp" class="form-control select2" multiple style="width: 100%;" :data-placeholder="$t('message.vehicleCreate.form.select')">
                                        <option v-for="zone in zones" v-bind:value="zone.id" v-text="zone.name"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-app-danger" data-dismiss="modal" v-text="$t('message.button.cancel')"></button>
                    <button id="av-create-save" type="button" class="btn btn-app-primary" v-text="$t('message.button.submit')"></button>
                </div>
            </div>
        </div>
    </div>
    <!--add price-->
    <div class="modal" id="editAv" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" v-text="$t('message.vehicleCreate.box.editTitle')"></h4>
                </div>
                <div class="modal-body">
                    <form id="av-edit-form" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <label class="control-label">
                                        <span v-text="$t('message.vehicleCreate.form.dayOfWeek')"></span>
                                        <span class="color-error">*</span></label>
                                    <div class="valid-frame">
                                        <table class="table table-bordered text-center margin-bottom-none">
                                            <tbody>
                                            <tr>
                                                <th v-text="$t('message.vehicleCreate.form.mon')"></th>
                                                <th v-text="$t('message.vehicleCreate.form.tue')"></th>
                                                <th v-text="$t('message.vehicleCreate.form.wed')"></th>
                                                <th v-text="$t('message.vehicleCreate.form.thur')"></th>
                                                <th v-text="$t('message.vehicleCreate.form.fri')"></th>
                                                <th v-text="$t('message.vehicleCreate.form.sat')"></th>
                                                <th v-text="$t('message.vehicleCreate.form.sun')"></th>
                                                <!--<th v-text="$t('message.vehicleCreate.form.publicHoliday')"></th>-->
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="radio" class="minimal" name="dayOfWeek" value="Monday"/>
                                                </td>
                                                <td>
                                                    <input type="radio" class="minimal" name="dayOfWeek" value="Tuesday"/>
                                                </td>
                                                <td>
                                                    <input type="radio" class="minimal" name="dayOfWeek" value="Wednesday"/>
                                                </td>
                                                <td>
                                                    <input type="radio" class="minimal" name="dayOfWeek" value="Thursday"/>
                                                </td>
                                                <td>
                                                    <input type="radio" class="minimal" name="dayOfWeek" value="Friday"/>
                                                </td>
                                                <td>
                                                    <input type="radio" class="minimal" name="dayOfWeek" value="Saturday"/>
                                                </td>
                                                <td>
                                                    <input type="radio" class="minimal" name="dayOfWeek" value="Sunday"/>
                                                </td>
                                                <!--<td>-->
                                                    <!--<input type="radio" class="minimal" name="dayOfWeek" value="PublicHoliday"/>-->
                                                <!--</td>-->
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="col-sm-6 bootstrap-timepicker">
                                    <label class="control-label">
                                        <span v-text="$t('message.vehicleCreate.form.fromTime')"></span>
                                        <span class="color-error">*</span></label>
                                    <div class="valid-frame">
                                        <!--<input v-model="avInfo.fromTime" name="fromTime" type="text" class="form_time form-control">-->
                                        <select v-model="avInfo.fromTime" id="edit-fromTime" name="fromTime" class="form-control time-window"></select>
                                    </div>
                                </div>
                                <div class="col-sm-6 bootstrap-timepicker">
                                    <label class="control-label">
                                        <span v-text="$t('message.vehicleCreate.form.toTime')"></span>
                                        <span class="color-error">*</span></label>
                                    <div class="valid-frame">
                                        <!--<input v-model="avInfo.toTime" name="toTime" type="text" class="form_time form-control">-->
                                        <select v-model="avInfo.toTime" id="edit-toTime" name="toTime" class="form-control time-window"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label margin-left-30" v-text="$t('message.vehicleCreate.form.zones')"></label>
                            <div class="col-sm-12">
                                <div class="col-sm-6 valid-frame">
                                    <select v-model="avInfo.zoneFlag" name="zoneFlag" class="form-control">
                                        <option value="exclude" v-text="$t('message.vehicleCreate.form.exclude')"></option>
                                        <option value="allowed" v-text="$t('message.vehicleCreate.form.allowed')"></option>
                                    </select>
                                </div>
                                <div class="col-sm-6 valid-frame option-white-space">
                                    <select v-model="avInfo.zonesTemp" name="zonesTemp" class="form-control select2" multiple style="width: 100%;" :data-placeholder="$t('message.vehicleCreate.form.select')">
                                        <option v-for="zone in zones" v-bind:value="zone.id" v-text="zone.name"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-app-danger" data-dismiss="modal" v-text="$t('message.button.cancel')"></button>
                    <button id="av-edit-save" type="button" class="btn btn-app-primary" v-text="$t('message.button.submit')"></button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!--add price-->
    <div class="modal" id="deleteAv" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" v-text="$t('message.vehicleCreate.box.deleteTitle')"></h4>
                </div>
                <div class="modal-body" v-text="$t('message.deleteInfo')">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-app-danger pull-left" data-dismiss="modal" v-text="$t('message.button.no')"></button>
                    <button id="av-delete-save" type="button" class="btn btn-app-primary" v-text="$t('message.button.yes')"></button>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="../js/manifest.bundle.js"></script>
<script src="../js/vendor.bundle.js"></script>
<script src="../js/vehicleCreate.bundle.js"></script> 
</body>
</html>
