<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Package</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>
<body>

<section class="content">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title" v-text="$t('message.package.box.title')"></h3>
                </div>
                <div class="box-body">
 <!--                    <div class="form-inline pull-right">
                        <div class="form-group">
                            <label>Tag Name:</label>
                            <input id="tag-name-value" class="form-control" type="text"/>
                            <button id="tag-name-search" class="btn btn-success">search</button>
                        </div>
                    </div> -->
                    <div>
                        <button class="btn btn-app-primary" id="package-show-add" onclick="packages.create();">
							<i class="fa fa-plus"></i>
							<span  v-text="$t('message.package.button.package')"></span>
						</button>

                    </div>
                    <table id="package-table" class="table table-bordered table-striped table-layout">
                        <thead>
                        <tr>
                            <th v-text="$t('message.package.table.name')"></th>
                            <th v-text="$t('message.package.table.lwh')"></th>
                            <th v-text="$t('message.package.table.maxWeight')"></th>
                            <th v-text="$t('message.package.table.minWeight')"></th>
                          	<th v-text="$t('message.package.table.volume')"></th>
                          	<th v-text="$t('message.package.table.description')"></th>
                            <th v-text="$t('message.table.function')"></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--add package-->
            <div class="modal" id="addPackage" aria-hidden="true">
  		 	 <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                    <span aria-hidden="true">&times;</span></button>
		                <h4 class="modal-title" v-text="$t('message.package.box.createTitle')"></h4>
		            </div>
		            <div class="modal-body">
		                <form id="package-create-form" class="form-horizontal">
		                    <div class="form-group">
		                        <label class="control-label col-sm-3">
									<span v-text="$t('message.package.form.name')"></span>
									<span class="color-error">*</span></label>
		                        <div class="col-sm-9 valid-frame">
		                            <input name="name" class="form-control" type="text"/>
		                        </div>
		                    </div>
		                    
		                    <div class="form-group">
		                        <label class="control-label col-sm-3">
									<span v-text="$t('message.package.form.length')"></span>
									<span class="color-error">*</span></label>
		                        <div class="col-sm-9 valid-frame">
		                            <input type="text" name="length" class="form-control"/>
		                        </div>
		                    </div>
		                     <div class="form-group">
		                        <label class="control-label col-sm-3">
									<span v-text="$t('message.package.form.width')"></span>
									<span class="color-error">*</span></label>
		                        <div class="col-sm-9 valid-frame">
		                            <input type="text" name="width" class="form-control"/>
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <label class="control-label col-sm-3">
									<span v-text="$t('message.package.form.height')"></span>
									<span class="color-error">*</span></label>
		                        <div class="col-sm-9 valid-frame">
		                            <input type="text" name="height" class="form-control"/>
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <label class="control-label col-sm-3">
									<span v-text="$t('message.package.form.maxWeight')"></span>
									<span class="color-error">*</span></label>
		                        <div class="col-sm-9 valid-frame">
		                            <input type="text" name="maxWeight" class="form-control"/>
		                        </div>
		                    </div>	
		                    <div class="form-group">
		                        <label class="control-label col-sm-3">
									<span v-text="$t('message.package.form.minWeight')"></span>
									<span class="color-error">*</span></label>
		                        <div class="col-sm-9 valid-frame">
		                            <input type="text" name="minWeight" class="form-control"/>
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <label class="control-label col-sm-3">
									<span v-text="$t('message.package.form.volume')"></span>
									<span class="color-error">*</span></label>
		                        <div class="col-sm-9 valid-frame">
		                            <input type="text" name="volumn" class="form-control"/>
		                        </div>
		                    </div>	
		                    <div class="form-group">
		                        <label class="control-label col-sm-3">
									<span v-text="$t('message.package.form.description')"></span>
								</label>
		                        <div class="col-sm-9">
		                            <input type="text" name="description" class="form-control"/>
		                        </div>
		                    </div>	
		                </form>
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-app-danger pull-left" data-dismiss="modal" v-text="$t('message.button.cancel')"></button>
		                <button id="package-create-save" type="button" class="btn btn-app-primary" v-text="$t('message.button.submit')"></button>
		            </div>
		        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

            <!--update package-->
            <div class="modal" id="editPackage" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" v-text="$t('message.package.box.editTitle')">Edit Package</h4>
                        </div>
                        <div class="modal-body">
                            <form id="package-edit-form" class="form-horizontal">
                                <input v-model="packageInfo.id" name="id" type="hidden"/>
                                <div class="form-group">
                                    <label class="control-label col-sm-3">
										<span v-text="$t('message.package.form.name')"></span>
										<span class="color-error">*</span></label>
                                    <div class="col-sm-9">
                                        <input v-model="packageInfo.name" name="name" class="form-control" type="text"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3">
										<span v-text="$t('message.package.form.length')"></span>
										<span class="color-error">*</span></label>
                                    <div class="col-sm-9">
                                   		 <input v-model="packageInfo.length" name="length" class="form-control" type="text"/>
                                    </div>
                                </div>
                                <div class="form-group">
		                        <label class="control-label col-sm-3">
									<span v-text="$t('message.package.form.width')"></span>
									<span class="color-error">*</span></label>
		                        <div class="col-sm-9">
		                         	<textarea v-model="packageInfo.width" name="width" class="form-control"></textarea>
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <label class="control-label col-sm-3">
									<span v-text="$t('message.package.form.height')"></span>
									<span class="color-error">*</span></label>
		                        <div class="col-sm-9">
		                           <textarea v-model="packageInfo.height" name="height" class="form-control"></textarea>
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <label class="control-label col-sm-3">
									<span v-text="$t('message.package.form.maxWeight')"></span>
									<span class="color-error">*</span></label>
		                        <div class="col-sm-9">
		                            <input v-model="packageInfo.maxWeight" name="maxWeight" class="form-control" type="text"/>
		                        </div>
		                    </div>	
		                    <div class="form-group">
		                        <label class="control-label col-sm-3">
									<span v-text="$t('message.package.form.minWeight')"></span>
									<span class="color-error">*</span></label>
		                        <div class="col-sm-9">
		                           <input v-model="packageInfo.minWeight" name="minWeight" class="form-control" type="text"/>
		                        </div>
		                    </div>
   		                    <div class="form-group">
		                        <label class="control-label col-sm-3">
									<span v-text="$t('message.package.form.volume')"></span>
									<span class="color-error">*</span></label>
		                        <div class="col-sm-9">
		                           <input v-model="packageInfo.volumn" name="volumn" class="form-control" type="text"/>
		                        </div>
		                    </div>  
		                    <div class="form-group">
		                        <label class="control-label col-sm-3">
									<span v-text="$t('message.package.form.description')"></span>
								</label>
		                        <div class="col-sm-9">
		                           <input v-model="packageInfo.description" name="description" class="form-control" type="text"/>
		                        </div>
		                    </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-app-danger pull-left" data-dismiss="modal" v-text="$t('message.button.cancel')"></button>
                            <button id="package-edit-save" type="button" class="btn btn-app-primary" v-text="$t('message.button.submit')"></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="deletePackage" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" v-text="$t('message.package.box.deleteTitle')"></h4>
                        </div>
                        <div class="modal-body" v-text="$t('message.deleteInfo')">
						</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-app-danger pull-left" data-dismiss="modal" v-text="$t('message.button.no')"></button>
                            <button id="package-delete-save" type="button" class="btn btn-app-primary" v-text="$t('message.button.yes')"></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

</body>
</html>
