<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>rule</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>
<body>
<section class="content">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title" v-text="$t('message.rule.box.title')"></h3>
                </div>
                <div class="box-body">
                    <div>
                        <button class="btn btn-app-primary" id="rule-show-add" onclick="rule.create();">
                            <i class="fa fa-plus"></i>
                            <span v-text="$t('message.rule.button.rule')"></span>
                        </button>
                    </div>
                    <table id="rule-table" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th v-text="$t('message.rule.table.group1')"></th>
                            <th v-text="$t('message.rule.table.group2')"></th>
                            <th v-text="$t('message.rule.table.constraint')"></th>
                            <th v-text="$t('message.table.function')"></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--add tag-->
            <div class="modal" id="addRule" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" v-text="$t('message.rule.box.createTitle')"></h4>
                        </div>
                        <div class="modal-body">
                            <form id="rule-create-form" class="form-horizontal">
                                <div class="form-group">
                                    <!--<label class="control-label col-sm-3">Rule Name</label>-->
                                    <div class="col-sm-9 col-sm-offset-3">
                                        <select id="rule-create-tagType" name="tagTypeGroup" class="form-control">
                                            <option value="" v-text="$t('message.rule.form.selectTagType')"></option>
                                            <option value="vehicle VS cargo" v-text="$t('message.rule.form.vehicleVSCargo')"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3" v-text="tagType1 == null ? message.rule.form.select + ' ' :  message.rule.form.select + ' ' + tagType1"></label>
                                    <div class="col-sm-9">
                                        <select name="tagName1" class="form-control">
                                            <option value="" v-text="$t('message.rule.form.selectTag')"></option>
                                            <option v-for="tag in tagResult1" v-bind:value="tag.name" v-text="tag.name"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3" v-text="tagType2 == null ?  message.rule.form.select + ' ' :  message.rule.form.select + ' ' + tagType2"></label>
                                    <div class="col-sm-9">
                                        <select name="tagName2" class="form-control">
                                            <option value="" v-text="$t('message.rule.form.selectTag')"></option>
                                            <option v-for="tag in tagResult2" v-bind:value="tag.name" v-text="tag.name"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3" v-text="$t('message.rule.form.constraint')"></label>
                                    <div class="col-sm-9">
                                        <select name="ruleConstraint" class="form-control">
                                            <option value="" v-text="$t('message.rule.form.selectConstraint')"></option>
                                            <option value="Can" v-text="$t('message.rule.form.can')"></option>
                                            <option value="Can Not" v-text="$t('message.rule.form.canNot')"></option>
                                            <option value="Can Put Together" v-text="$t('message.rule.form.canPutTogether')"></option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-app-danger pull-left" data-dismiss="modal" v-text="$t('message.button.cancel')"></button>
                            <button id="rule-create-save" type="button" class="btn btn-app-primary" v-text="$t('message.button.submit')"></button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            <!--update tag-->
            <div class="modal" id="editRule" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" v-text="$t('message.rule.box.editTitle')"></h4>
                        </div>
                        <div class="modal-body">
                            <form id="rule-edit-form" class="form-horizontal">
                                <input name="id" type="hidden" v-model="ruleInfo.id"/>
                                <div class="form-group">
                                    <!--<label class="control-label col-sm-3">Rule Name</label>-->
                                    <div class="col-sm-9 col-sm-offset-3">
                                        <select id="rule-edit-tagtype" v-model="ruleInfo.tagTypeGroup" name="tagTypeGroup" class="form-control">
                                            <option value="" v-text="$t('message.rule.form.selectTagType')"></option>
                                            <option value="vehicle VS cargo" v-text="$t('message.rule.form.vehicleVSCargo')"></option>
                                            <!--<option value="cargo VS cargo">Cargo VS Cargo</option>-->
                                            <!--<option value="vehicle VS location">Vehicle VS Location</option>-->
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3" v-text="tagType1 == null ?  message.rule.form.select + ' ' :  message.rule.form.select + ' ' + tagType1"></label>
                                    <div class="col-sm-9">
                                        <select v-model="ruleInfo.tagName1" name="tagName1" class="form-control">
                                            <option value="" v-text="$t('message.rule.form.selectTag')"></option>
                                            <option v-for="tag in tagResult1" v-bind:value="tag.name" v-text="tag.name"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3" v-text="tagType2 == null ?  message.rule.form.select + ' ' :  message.rule.form.select + ' ' + tagType2"></label>
                                    <div class="col-sm-9">
                                        <select v-model="ruleInfo.tagName2" name="tagName2" class="form-control">
                                            <option value="" v-text="$t('message.rule.form.selectTag')"></option>
                                            <option v-for="tag in tagResult2" v-bind:value="tag.name" v-text="tag.name"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3" v-text="$t('message.rule.form.constraint')"></label>
                                    <div class="col-sm-9">
                                        <select v-model="ruleInfo.ruleConstraint" name="ruleConstraint" class="form-control">
                                            <option value="" v-text="$t('message.rule.form.selectConstraint')"></option>
                                            <option value="Can" v-text="$t('message.rule.form.can')"></option>
                                            <option value="Can Not" v-text="$t('message.rule.form.canNot')"></option>
                                            <option value="Can Put Together" v-text="$t('message.rule.form.canPutTogether')"></option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-app-danger pull-left" data-dismiss="modal" v-text="$t('message.button.cancel')"></button>
                            <button id="rule-edit-save" type="button" class="btn btn-app-primary" v-text="$t('message.button.submit')"></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="deleteRule" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" v-text="$t('message.rule.box.deleteTitle')"></h4>
                        </div>
                        <div class="modal-body"  v-text="$t('message.deleteInfo')">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-app-danger pull-left" data-dismiss="modal" v-text="$t('message.button.no')"></button>
                            <button id="rule-delete-save" type="button" class="btn btn-app-primary" v-text="$t('message.button.yes')"></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

</body>
</html>
