<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Transporter Bid Detail</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>
<body>

<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title" v-text="$t('message.transporterBidDetail.box.title')"></h3>
        </div>
        <div class="box-body">
            <div v-if="item != null">
                <!--common info-->
                <div class="col-sm-12 padding-r-l-0">
                    <table class="table table-bordered margin-bottom-none">
                        <thead>
                        <tr>
                            <th v-text="$t('message.transporterBidDetail.table.bidNo')"></th>
                            <th v-if="istb == 'false'" v-text="$t('message.transporterBidDetail.table.auctionNo')"></th>
                            <th v-text="$t('message.transporterBidDetail.table.bidType')"></th>
                            <th v-text="$t('message.transporterBidDetail.table.status')"></th>
                            <th v-text="$t('message.transporterBidDetail.table.availabilityStart')"></th>
                            <th v-text="$t('message.transporterBidDetail.table.availabilityEnd')"></th>
                            <!--<th v-if="item.transporterBid.status == 'complete'" v-text="$t('message.transporterBidDetail.table.viewImage')"></th>-->
                            <th v-if="isp == 'false' && istb == 'false'" v-text="$t('message.transporterBidDetail.table.cost')"></th>
                            <th v-if="isp == 'false' && istb == 'false'" v-text="$t('message.transporterBidDetail.table.finalCost')"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="transportBidTr">
                            <td v-text="item.transporterBid.bidNo"></td>
                            <td v-if="istb == 'false'" v-text="item.transporterBid.auctionNo"></td>
                            <td v-text="item.transporterBid.bidType == 1 ? 'CAPACITY-BASED' : ''"></td>
                            <td v-text="displayStatus(item.transporterBid.status)"></td>
                            <td v-text="item.transporterBid.vehicleAvailabilityFrom" class="text-center"></td>
                            <td v-text="item.transporterBid.vehicleAvailabilityEnd" class="text-center"></td>
                            <!--<td v-if="item.transporterBid.status == 'complete'">-->
                                <!--<button type="button" class="btn btn-app-danger" @click="viewImage(item.transporterBid.id)">View Image</button>-->
                            <!--</td>-->
                            <td v-if="isp == 'false' && istb == 'false'" v-text="formatPrice(item.transporterBid.cost)" class="text-right text-inline"></td>
                            <td v-if="isp == 'false' && istb == 'false'" v-text="formatPrice(item.transporterBid.finalCost)" class="text-right text-inline"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12 padding-r-l-0 bid-job-wrapper margin-top-10">
                    <div class="col-sm-12 padding-r-l-0 padding-top-20">
                        <!--<div class="col-sm-12 padding-r-l-0 text-left">
                            <div class="pull-left height-30 font-20-unbold">
                                <span class="margin-left-15">Vehicle Details</span>
                                &lt;!&ndash;<span class="padding-left-10 font-second-color" v-text="item.vehicle.no"></span>&ndash;&gt;
                            </div>
                            &lt;!&ndash;<div  v-if="isp == 'true'" class="pull-right height-30 font-20-unbold">&ndash;&gt;
                                &lt;!&ndash;<span class="margin-left-15">Final Cost</span>&ndash;&gt;
                                &lt;!&ndash;<span class="padding-left-10 font-second-color" v-text="formatPrice(item.transporterBid.finalCost)"></span>&ndash;&gt;
                            &lt;!&ndash;</div>&ndash;&gt;
                        </div>-->
                        <div class="col-sm-12 padding-r-l-0">
                            <div class="col-sm-12 padding-r-l-0">
                                <table class="table table-bordered">
                                    <caption class="text-center font-16-unbold" v-text="$t('message.transporterBidDetail.table.vehicleDetails')"></caption>
                                    <thead>
                                    <tr>
                                        <th v-text="$t('message.transporterBidDetail.table.vehicleNo')"></th>
                                        <th v-text="$t('message.transporterBidDetail.table.type')"></th>
                                        <th v-text="$t('message.transporterBidDetail.table.weight')"></th>
                                        <th v-text="$t('message.transporterBidDetail.table.volume')"></th>
                                        <th v-text="$t('message.transporterBidDetail.table.distancePrice')"></th>
                                        <th v-if="isp == 'true'" v-text="$t('message.transporterBidDetail.table.vehicleTypeBasePrice')"></th>
                                        <th v-if="istb == 'true'" v-text="$t('message.transporterBidDetail.table.transporterBasePrice')"></th>
                                        <th v-if="isp == 'true'" v-text="$t('message.transporterBidDetail.table.weightPriceGuide')"></th>
                                        <th v-if="isp == 'true'" v-text="$t('message.transporterBidDetail.table.volumePriceGuide')"></th>
                                        <th v-text="$t('message.transporterBidDetail.table.dimensions')"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td v-text="item.vehicle.no"></td>
                                        <td v-text="item.vehicleType.type"></td>
                                        <td v-text="item.vehicleType.weight + '(' + item.vehicleType.weightUom + ')'"></td>
                                        <td v-text="item.vehicleType.volume + '(' + item.vehicleType.volumeUom + ')'"></td>
                                        <td v-text="formatPrice(item.transporterBid.distancePrice)" class="text-right text-inline"></td>
                                        <td v-if="isp == 'true'" v-text="formatPrice(item.vehicleType.vehicleTypeBasePrice)" class="text-right text-inline"></td>
                                        <td v-if="istb == 'true'" v-text="formatPrice(item.transporterBid.basePrice)" class="text-right text-inline"></td>
                                        <td v-if="isp == 'true'" v-text="formatPrice(item.vehicleType.weightPriceGuide)" class="text-right text-inline"></td>
                                        <td v-if="isp == 'true'" v-text="formatPrice(item.vehicleType.volumnPriceGuide)" class="text-right text-inline"></td>
                                        <td v-text="item.vehicleType.dimensions"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div  v-if="isp == 'false'" class="col-sm-12 padding-r-l-0">
                            <div class="col-sm-6 padding-left-0">
                                <table class="table table-bordered">
                                    <caption class="text-center font-16-unbold" v-text="$t('message.transporterBidDetail.table.availability')"></caption>
                                    <thead>
                                    <tr>
                                        <th v-text="$t('message.transporterBidDetail.table.dayOfWeek')"></th>
                                        <th v-text="$t('message.transporterBidDetail.table.fromTime')"></th>
                                        <th v-text="$t('message.transporterBidDetail.table.toTime')"></th>
                                        <th v-text="$t('message.transporterBidDetail.table.zoneFlag')"></th>
                                        <th v-text="$t('message.transporterBidDetail.table.zones')"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="av in item.vehicle.availability">
                                        <td v-text="av.dayOfWeek"></td>
                                        <td v-text="timeFormat(av.fromTime)" class="text-center"></td>
                                        <td v-text="timeFormat(av.toTime)" class="text-center"></td>
                                        <td v-text="av.zoneFlag"></td>
                                        <td>
                                            <div v-for="zone in av.zonesName" style="border: 1px solid #ccc;" v-text="zone"></div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-6 padding-right-0">
                                <table class="table table-bordered">
                                    <caption class="text-center font-16-unbold" v-text="$t('message.transporterBidDetail.table.price')"></caption>
                                    <thead>
                                    <tr>
                                        <th v-text="$t('message.transporterBidDetail.table.dayOfWeek')"></th>
                                        <th v-text="$t('message.transporterBidDetail.table.priceMaxKg')"></th>
                                        <th v-text="$t('message.transporterBidDetail.table.pricePerKg')"></th>
                                        <th v-text="$t('message.transporterBidDetail.table.priceMaxVol')"></th>
                                        <th v-text="$t('message.transporterBidDetail.table.pricePerVol')"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="price in item.vehicleType.vehicleTypePriceDtoList">
                                        <td v-text="price.dayOfWeek"></td>
                                        <td v-text="formatPrice(price.priceMaxKg)" class="text-right"></td>
                                        <td v-text="formatPrice(price.pricePerKg)" class="text-right"></td>
                                        <td v-text="formatPrice(price.priceMaxM3)" class="text-right"></td>
                                        <td v-text="formatPrice(price.pricePerM3)" class="text-right"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-12 padding-left-0 margin-top-10">
                    <button type="button" class="btn btn-app-danger" onclick="window.history.go(-1);" v-text="$t('message.button.back')"></button>
                </div>
            </div>
            <div v-if="item == null" v-text="$t('message.loadingInfo')">
            </div>
        </div>
    </div>

    <!--view picture-->
    <div class="modal" id="viewPicture">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" v-text="$t('message.transporterBidDetail.box.showPicture')"></h4>
                </div>
                <div class="modal-body">
                    <input id="showImage" type="file"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-app-primary" data-dismiss="modal" v-text="$t('message.button.close')"></button>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
